//PROJECT COLORS
$color-primary-green: #159E5C
$color-primary-blue: #1E6ECA
$color-container-background: #F4F4F4
$color-green-separator: #9AD1B7
$color-white: #fff
$color-black: #000

//FONT COLORS
$color-font-gray: #585858
$color-font-gray2: #757575
$color-font-gray3: #898989


//BUTTON COLORS
$color-green-button: #06A763

//SOCIAL COLORS
$color-facebook: #394AAB
$color-google-plus: #F13A37
$color-linked-in: #1A5DB6
$color-rsa: #EB611D
$color-instagram: #285378
$color-snapchat: #FEDC4A
$color-github: #202020

//SEPARATOR COLORS
$color-separator-gray: #EAEAEA

//FONTS
$font-family-raleway: 'Raleway', sans-serif
$font-family-muli: 'Muli', sans-serif
