//@import "compass"

div#map
  width: 100%
  height: 417px
  background-color: gray

.google-map
  padding: 0
  padding-left: 15px

.contact-form
  padding-left: 20px


//label
//  display: block
//  padding-top: 20px
//  .label-text
//    +transform(translate(-18px))
//  input:focus + .label-text
//    +transform(translateY(-36px))