div#map
  width: 100%
  height: 100%
  min-height: 417px
  background-color: gray

.google-map
  padding: 0
  padding-left: 15px

.contact-inputs
  padding-left: 0

.form-content
  height: 100%

.contact-form
  padding: 40px

.form-content
  background-color: $color-white

.contact-content
  margin-top: 20px

  .button-green
    margin: 0
    margin-top: 30px




//Small break point
@media (min-width: 57px)
  .google-map
    padding: 0

  .contact-inputs
    padding: 0


//Medium break point
@media (min-width: 768px)
  .google-map
    padding-left: 0
    padding-top: 15px

  .contact-inputs
    padding-right: 0

//Large break point
@media (min-width: 992px)
  .google-map
    padding-left: 15px
    padding-top: 0

  .contact-inputs
    padding-right: 15px
