.myPageContainer
  width: 970px
  height: auto
  display: block
  margin: auto
  //box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12)

.fast-me-container
  //margin-top: 170px
  margin-top: -200px
  background-color: $color-primary-green


.about-me-container
  margin-top: 55px
  background-color: $color-white

.education-container
  margin-top: 55px

.skills-container
  margin-top: 55px

.interest-container
  margin-top: 55px

.blog-container
  margin-top: 55px

.contact-container
  margin-top: 55px

.experience-container
  margin-top: 55px



//Small break point
@media (min-width: 57px)
  .myPageContainer
    width: 100%

//Medium break point
@media (min-width: 768px)
  .myPageContainer
    width: 720px

//Large break point
@media (min-width: 992px)
  .myPageContainer
    width: 940px