.timeline-content
  width: 411px

.card-content-education
  background-color: $color-white
  padding: 20px
  h6
    font-size: 21px
    font-weight: bold
    color: $color-font-gray2
  p
    color: $color-font-gray2
    margin: 0
  .timeline-info h6 small
    font-weight: bold
    color: $color-font-gray2


.timeline-content
  border-left: 5px solid $color-primary-blue

.timeline-dot
  h6
    font-size: 29px
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.29)
    font-weight: bolder
    text-align: center

.green-cirlce-letter
  display: block
  position: relative
  margin: auto
  top: 50px

.timeline-education
  margin-top: -30px
  
.block-to-right
  margin-left: auto
  margin-right: 0

.block-to-left
  margin-right: auto
  margin-left: 0



.horizontal-line-left
  position: relative
  top: 25px
  height: 5px
  width: 50%
  background-color: $color-green-separator
  z-index: -5

.horizontal-line-right
  @extend .horizontal-line-left
  margin-left: auto
  margin-right: 0

.vertical-line
  position: absolute
  width: 5px
  height: 460px
  z-index: -1
  left: 50%
  margin-top: 50px
  background-color: $color-green-separator

.margin-top
  position: relative
  top: -9rem
  margin-bottom: -9rem

//Small break point
@media screen and (min-width: 57px)
  .timeline-content
    width: 100%

  .margin-top
    top: 0
    margin-bottom: 0
    margin-top: -40px

  .education-letter
    margin-left: auto
    margin-right: 0

  .vertical-line
    height: 800px


//Medium break point
@media (min-width: 768px)
  .timeline-content
    width: 315px

  .margin-top
    top: -9rem
    margin-bottom: -9rem
    margin-top: 0

  .education-letter
    margin: auto

  .vertical-line
    height: 600px

//Large break point
@media (min-width: 992px)
  .timeline-content
    width: 410px

  .vertical-line
    height: 460px
