.my-info-content
  padding: 40px
  //padding-left because of container fluid which add padding 15 to each left and right
  //padding-left: 55px

.title-main-text
  @extend .shadowed-text
  font-weight: 900
  font-size: 33px

.title-second-main-text
  @extend .shadowed-text
  font-weight: 300
  font-size: 19px
  margin-top: -5px
  margin-bottom: 30px

.profile-list
  list-style-type: none
  padding-left: 0

.infos .profile-list .title .fa-skype
  font-size: 23px
  padding-left: 2px
  padding-right: 2px

.infos
  color: $color-white
  font-family: $font-family-muli
  .title
    margin-right: 5px