body
  margin: 0
  padding: 0
  background-color: $color-container-background
  //background: url("../../assets/background-book.jpg") no-repeat
  //background-position: 0 20px
  //background-size: contain

h4, h6
  font-family: $font-family-raleway


div.row
  margin: 0

.fa
  display: inline-block
  font: normal normal normal 14px/1 FontAwesome
  font-size: inherit
  text-rendering: auto
  -webkit-font-smoothing: antialiased

a, p, li
  font-weight: 400

.card-shadow
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12)

.section-text
  font-weight: 900
  font-size: 2.0rem
  line-height: 110%
  font-family: $font-family-raleway
  color: $color-font-gray

footer
  padding: 20px
  p
    margin: 0
    color: $color-font-gray